VITE_GOOGLE_CLIENT_ID=833926846933-jc537nt6rmntrmhcjpm4qrpqju94qibc.apps.googleusercontent.com
VITE_EMAILJS_PUBLIC_KEY=EF2zX8mNRlZ22HkGM
VITE_EMAILJS_SERVICE_ID=service_ci9tqtm
VITE_EMAILJS_TEMPLATE_ID=template_wuzomqz
VITE_API_URL=https://backend-41zw.onrender.com
